body, html {
	background-color: #dddddd;
	margin: 0px;
	height: 100%;
}

#avatar {
	width: 250px;
}

#topbar {
	background-color: blue;
	overflow: hidden;
}

#topbar a {
	color: white;
	text-decoration: none;
	font-size: 20px;
	padding: 20px;
	float: left;
}

#topbar a:hover {
	background-color: #dddddd;
	color: black;
}

#conteudo {
	clear: both;
	overflow: auto;
	height: 100%;
}

#img-wrapper {
	padding: 100px;
	float: left;
	margin: 5px;
}

img {
	border-radius: 20%;
}

#info {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

p, li {
	font-size: 18px;
}

p {
   text-indent: 30px;;
}

p {
	font-family: 'serif';
	text-align: justify;
}

h2 {
	font-family: 'Arial Black';
}

.footer {
  left: 0;
  bottom: 0;
  position: fixed;
  background-color: blue;
  padding: 1px;
  margin: 0;
  width: 100%;
}

.footer p {
  text-align: center;
  color: white;
}

.footer a {
	color: white;
}
